@font-face {
  font-family: 'iconfont';
  src: url('font/iconfont.eot');
  src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('font/iconfont.woff') format('woff'),
  url('font/iconfont.ttf') format('truetype'),
  url('font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.icon_line{
	display: inline-block;
    height: 7px;
    width: 60px;
    border-top: 1px solid #999;
}
body{
	/*overflow: hidden;*/
}
/**********************左侧导航栏效果*************************/
.set-leftpos{
	position: absolute!important;
	left: 0;
	top: 0;
}
.show_nav{
	position: absolute;
	left: 0;
	top: 60px;
	z-index: 10000;
	display: none;
}
.show_nav img{
	width: 50px;
	height: 50px;
}
/*************************************************************/
.fl{
	float: left
}
.fr{
	float: right;
}
.j_state{
	position:absolute;
	top:16px;left:-40px;
	width:100px;font-size:12px
}
.j_state_time{
	position:absolute;
	top:32px;left:-40px;
	width:100px;font-size:12px
}
.bg,.bg2{
	height: 108px;
	border-bottom: 1px solid #999;
}
/*弹窗内容*/
.new_module{
	border-left: 1px solid #d5d5d5;
	position: absolute;
	top: 0;
	right: -90%;
	width: 90%;
	height: 100%;
	background: white;
	overflow-y: auto;
	display: none;
}
.j_list{
	width: 70%;
	height: 100%;
	/*overflow-y: auto;*/
	float: left;
}
.j_list_right{
	width: 30%;
	height: 100%;
	/*overflow-y: auto;*/
	float: left;
}
.j_title{
	text-align: center;
}
.name{
    cursor: pointer;
    color: #3aa2eb;
}
.j_table{
	margin-top: 10px;
}
.j_table ul{
    overflow: hidden;
}
.j_table li{
	float: left;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #e2e2e2;
}
.j_table li:hover{
	
	cursor: pointer;
	
}
.j_active{
	color: white;
	background: #3aa2eb;
}
.j_div{
	padding: 20px 10px;
	height: 100%;
	position: relative;
	border-right: 1px dashed #999;
	overflow-x: hidden;
}
.detail_panel{
	width: 98%;
	display: none;
	position: absolute;
}
.detail_panel1{
	display: block;
}
.j_info{
	
	min-height: 28px;
	padding: 5px 0;
}
.j_p{
	display: inline-block;
    width: 140px;
    margin-right: 5px;
    padding: 10px 0;
    color: #3d5266;
    word-break: break-all;
}
.j_sp {
	display: inline-block;
    line-height: 1.8em;
    max-width: 420px;
    margin: 7px 0 0;
    padding-right: 20px;
    color: #3d5266;
    border: none;
    outline: none;
}
.j_txt{
	height: 20px;
	padding-top: 15px;
	border: none;
    outline: none;
}
.j_out{
	margin-left: 28px;
}
.clear{
	clear: both;
}
.j_deshade{
	border: 1px solid #e2e2e2
}
.m_top{
	margin-top: 10px;
}
.tag_table{
	position: absolute;
	top: 0;
	right: -80%;
	width: 80%;
	height: 100%;
	background: white;
	padding: 20px;
	overflow-y: auto;
	border-left: 1px solid #d5d5d5;
	/*border-right: 1px solid #d5d5d5;*/
	display: none;
}
.tag_name{
   cursor: pointer;
   color: #3aa2eb;
}
.right_bottom{
    /*border-top: 1px solid #999;*/
    padding: 20px 10px 0;	
}
.avatar{
	float: left;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #3aa2eb;
	opacity: .6;
	line-height: 40px;
}
.list_name{

	margin: 10px 0 0 10px;
}
.list_name li{
	/*line-height: 50px;*/
	overflow: hidden;
	margin-bottom: 30px
}
.avatar_name{
	float: left;
	/*width: 40px;*/
    display: block;
    margin-left: 20px;
    margin-top: 11px;   
}

.j_set ul{
	overflow: hidden;

}
.j_set ul li{
	float: left;
	width: 300px;
	height: 250px;
    margin: 0 20px;
    margin-bottom: 20px;
    padding: 30px 20px;
    background-color: #f9f9f9;

}
.j_set ul li p{
	text-align: center;
	/*font-size: 16px*/
}
.j_set_pic{
	width: 60px;
	height: 60px;
	background-color: #3aa2eb;
	border-radius: 50%;
	margin: 0 auto;
}
.mt10{
	margin-top: 10px
}
.j_btn{
	width: 260px;
    /* margin: 0 auto; */
    padding: 20px 20px;
    margin-top: 20px; 
}
.enter_set,.enter_set2{
	width: 110px;
	height: 30px;
	border: none;
	margin-right: 10px;
	border-radius: 5px;
}
.enter_set2{
	width: 120px;
    margin-left: 50px;
}
.j_pay{
	width: 88px;
	height: 30px;
	border: none;
	border-radius: 5px;
}
.ml40{
	margin-left: 40px;
}
.mr40{
	margin-right: 40px;
}

/*******************任务名称table样式********************/
.demand_confirm{
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: 1px solid #999
}
.font20{
	font-size: 20px
}
.state{
	border: 1px solid #999;
	display: inline-block;
    padding: 5px 10px;
}
.border0{
	border-right: none;
}
.state:hover{
	cursor: pointer;
	background: #999;
	color: white;
}
/*****************更改头部样式**************************/
.set-toppos,.set-toppos h3{
	height: 60px!important;
	line-height: 60px!important;
}
.set-leftpos{
	padding-top: 60px!important;
}
.main-container{
	padding-top: 60px!important;
}


